version: '3'
services:
  api:
    build: .
    ports:
    - "8001:443"
    environment:
      - ASPNETCORE_URLS=https://+;http://+
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTPS_PORT=8001
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/api.pfx
      - DOTNET_USE_POLLING_FILE_WATCHER=1
    volumes:
      - ~/.aspnet/https:/https:ro
    depends_on:
      - mysql
  mysql:
    image: mysql:5.7
    ports: ['3306:3306']
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=iot_home_control
      - MYSQL_PASSWORD=root